ConsumoSoap/src/META-INF/wsdl/localhost_8080/ServicioSOAP/MyWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="AgregarCliente" type="tns:AgregarCliente"/>

<xs:element name="AgregarClienteResponse" type="tns:AgregarClienteResponse"/>

<xs:element name="CalcularAreaCircunferencia" type="tns:CalcularAreaCircunferencia"/>

<xs:element name="CalcularAreaCircunferenciaResponse" type="tns:CalcularAreaCircunferenciaResponse"/>

<xs:element name="CalcularAreaCuadrado" type="tns:CalcularAreaCuadrado"/>

<xs:element name="CalcularAreaCuadradoResponse" type="tns:CalcularAreaCuadradoResponse"/>

<xs:element name="CalcularAreaHexagonoRegular" type="tns:CalcularAreaHexagonoRegular"/>

<xs:element name="CalcularAreaHexagonoRegularResponse" type="tns:CalcularAreaHexagonoRegularResponse"/>

<xs:element name="CalcularAreaPentagonoRegular" type="tns:CalcularAreaPentagonoRegular"/>

<xs:element name="CalcularAreaPentagonoRegularResponse" type="tns:CalcularAreaPentagonoRegularResponse"/>

<xs:element name="CalcularAreaRectangulo" type="tns:CalcularAreaRectangulo"/>

<xs:element name="CalcularAreaRectanguloResponse" type="tns:CalcularAreaRectanguloResponse"/>

<xs:element name="CalcularAreaRomboide" type="tns:CalcularAreaRomboide"/>

<xs:element name="CalcularAreaRomboideResponse" type="tns:CalcularAreaRomboideResponse"/>

<xs:element name="CalcularAreaTrapecio" type="tns:CalcularAreaTrapecio"/>

<xs:element name="CalcularAreaTrapecioResponse" type="tns:CalcularAreaTrapecioResponse"/>

<xs:element name="CalcularAreaTrianguloEquilatero" type="tns:CalcularAreaTrianguloEquilatero"/>

<xs:element name="CalcularAreaTrianguloEquilateroResponse" type="tns:CalcularAreaTrianguloEquilateroResponse"/>

<xs:element name="Login" type="tns:Login"/>

<xs:element name="LoginResponse" type="tns:LoginResponse"/>

<xs:element name="Suma" type="tns:Suma"/>

<xs:element name="SumaResponse" type="tns:SumaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="CalcularAreaTrapecio">
<xs:sequence>
<xs:element name="baseMayor" type="xs:double"/>
<xs:element name="baseMenor" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaTrapecioResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaTrianguloEquilatero">
<xs:sequence>
<xs:element name="lado" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaTrianguloEquilateroResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaHexagonoRegular">
<xs:sequence>
<xs:element name="lado" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaHexagonoRegularResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaPentagonoRegular">
<xs:sequence>
<xs:element name="lado" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaPentagonoRegularResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarCliente">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:string" minOccurs="0"/>
<xs:element name="saldo" type="xs:double"/>
<xs:element name="fechaUltimaCompra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Suma">
<xs:sequence>
<xs:element name="numero1" type="xs:int"/>
<xs:element name="numero2" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaRomboide">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaRomboideResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaRectangulo">
<xs:sequence>
<xs:element name="base" type="xs:double"/>
<xs:element name="altura" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaRectanguloResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaCuadrado">
<xs:sequence>
<xs:element name="lado" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaCuadradoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaCircunferencia">
<xs:sequence>
<xs:element name="radio" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalcularAreaCircunferenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>